
* {
  font-family: Arial, sans-serif;
  text-align: center;
}

#mainForm {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
img {
  height: 250px;
  width: 250px;
	border: 10px solid #333;
  background-color: #fff;
}

/* Snakkeboble og tanker*/

span.bubble {
	width: 180px;
	text-align: center;
	line-height: 1.4em;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 10px;
position: absolute;
left: 150px;
top: 39px;
}

span.thought {
	width: 300px;
	border-radius: 200px;
	padding: 30px;
}

span.bubble:before,
span.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

span.speech:before {
	left: 30px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

span.speech:after {
	left: 38px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

span.thought:before,
span.thought:after {
	left: 10px;
	bottom: -30px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #333;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

span.thought:after {
	width: 20px;
	height: 20px;
	left: 5px;
	bottom: -40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
